
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .main-container{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(154, 189, 226);
  }

  .calculator-container{
    background-color: white;
    padding: 30px 30px;
    border-radius: 15px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);

  }

  .calculator-title {
    font-size: 18px;
    margin-bottom: 20px;
    color: rgb(66, 130, 198);
    font-weight: 500;
  }

  .input-container{
    background-color: white;
    border-radius: 15px;
    width: 100%;
    height: 60px;
    font-size: 22px;
    padding-left: 20px;
    margin-bottom: 10px;
    letter-spacing: 1.2px;
  }

  .input-container:focus{
    outline: none;
  }

  .buttons-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .button{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.08s;
    border-radius: 50%;
  }

  .operator-button{
    color: rgb(66, 130, 198);
  }

  .equal-button{
    background-color: rgb(66, 130, 198);
    color: white;
    border-radius: 50%;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.08s;
  }

  .equal-button:hover{
    background-color: rgb(12, 62, 120);
    color: white;
  }



  .button:hover{
    background-color: rgb(169, 185, 202);
    color: white;
  }
